discord.py==2.5.2
openai==1.68.2
python-dotenv==1.1.0
requests==2.32.3
solders==0.26.0
git+https://github.com/michaelhly/solana-py@v0.36.6
google-api-python-client==2.120.0
tenacity==8.2.3
beautifulsoup4
snscrape==0.7.0.20230622
base58==2.1.1
matplotlib==3.8.3
